{% block doc -%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>{{title}}</title>
	<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
	<link rel="icon" href="../../static/img/favicon.ico" type="image/x-icon"/>

	<script src="../../static/js/plugin/webfont/webfont.min.js"></script>
	<script>
		WebFont.load({
			google: {"families":["Montserrat:100,200,300,400,500,600,700,800,900"]},
			custom: {"families":["Flaticon", "LineAwesome"], urls: ['../static/css/fonts.css']},
			active: function() {
				sessionStorage.fonts = true;
			}
		});
	</script>

	<link rel="stylesheet" href="../../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../static/css/ready.min.css">

	<link rel="stylesheet" href="../../../static/css/demo.css">
</head>
<body>
	<div class="wrapper">
		<div class="main-header">
			<div class="logo-header">
				<a href="index.html" class="big-logo">
					<img src="../../static/img/logoresponsive.png" alt="logo img" class="logo-img">
				</a>
				<a href="index.html" class="logo">
					<img src="../../static/img/logoheader.png" alt="navbar brand" class="navbar-brand">
				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						<i class="la la-bars"></i>
					</span>
				</button>
				<button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
			</div>

			<nav class="navbar navbar-header navbar-expand-lg" data-background-color="blue">
				<div class="container-fluid">
					<div class="navbar-minimize">
						<button class="btn btn-minimize btn-rounded">
							<i class="la la-navicon"></i>
						</button>
					</div>
					<div class="collapse" id="search-nav">
						<form class="navbar-left navbar-form nav-search ml-md-3 mr-md-3">
							<div class="input-group">
								<input type="text" placeholder="Поиск ..." class="form-control">
								<div class="input-group-append">
									<button type="submit" class="btn btn-search">
										<i class="la la-search search-icon"></i>
									</button>
								</div>
							</div>
						</form>
					</div>
					<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
						<li class="nav-item toggle-nav-search hidden-caret">
							<a class="nav-link" data-toggle="collapse" href="#search-nav" role="button" aria-expanded="false" aria-controls="search-nav">
								<i class="flaticon-search-1"></i>
							</a>
						</li>
						<li class="nav-item dropdown hidden-caret">
							<a class="nav-link dropdown-toggle" href="#" id="notifDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="flaticon-alarm"></i>
							</a>
							<ul class="dropdown-menu notif-box animated fadeIn" aria-labelledby="notifDropdown">
								<li>
									<div class="dropdown-title">У вас 0 новых уведомлений</div>
								</li>
								<li>
									<div class="notif-center">
									</div>
								</li>
								<li>
									<a class="see-all" href="javascript:void(0);">Смотрите все свои уведомления<i class="la la-angle-right"></i> </a>
								</li>
							</ul>
						</li>
						<li class="nav-item dropdown hidden-caret">
							<a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false"> <img src="../../static/img/14d1689b.png" alt="image profile" width="36" class="img-circle"></a>
							<ul class="dropdown-menu dropdown-user animated fadeIn">
								<li>
									<div class="user-box">
										<div class="u-text">
											<h4>{{ items.login }}</h4>
											<p class="text-muted">{{ items.email }}</p><a href="/profile/{{ items.user_id }}/" class="btn btn-rounded btn-danger btn-sm">Посмотреть профиль</a>
										</div>
									</div>
								</li>
								<li>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#">Мой баланс</a>
									<a class="dropdown-item" href="#">Письма</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#">Настройки</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#">Выход</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</div>

		<div class="sidebar">
			<div class="sidebar-background"></div>
			<div class="sidebar-wrapper scrollbar-inner">
				<div class="sidebar-content">
					<ul class="nav">
						<li class="nav-item">
							<a href="/in/2488982-995/">
								<i class="flaticon-home"></i>
								<p>Главная</p>
							</a>
						</li>
						<li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="la la-ellipsis-h"></i>
							</span>
							<h4 class="text-section">Товары</h4>
							<li class="nav-item">
								<a data-toggle="collapse" href="#submenu">
									<i class="flaticon-mailbox"></i>
									<p>Wildberries</p>
									<span class="caret"></span>
								</a>
								<div class="collapse" id="submenu">
									<ul class="nav nav-collapse subnav">
										<li>
											<a href="/in/{{ items.user_id }}/categories/wildberries/">
												<span class="sub-item">Категории</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="sub-item">Бренды</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="sub-item">Товары</span>
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="nav-item">
								<a data-toggle="collapse" href="#submenu2">
									<i class="flaticon-mailbox"></i>
									<p>Ozon</p>
									<span class="caret"></span>
								</a>
								<div class="collapse" id="submenu2">
									<ul class="nav nav-collapse subnav">
										<li>
											<a href="/in/{{ items.user_id }}/categories/ozon/">
												<span class="sub-item">Категории</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="sub-item">Бренды</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="sub-item">Товары</span>
											</a>
										</li>
									</ul>
								</div>
							</li>
						</li>
						<li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="la la-ellipsis-h"></i>
							</span>
							<h4 class="text-section">Пользователю</h4>
						</li>
						<li class="nav-item">
							<a href="pricing.html">
								<i class="flaticon-price-tag"></i>
								<p>Группы</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="calendar.html">
								<i class="flaticon-calendar"></i>
								<p>Календарь</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="widgets.html">
								<i class="flaticon-web"></i>
								<p>О нас</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="pricing.html">
								<i class="flaticon-price-tag"></i>
								<p>Тарифы</p>
								<span class="badge badge-count">3 тарифа</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="faqs.html">
								<i class="flaticon-round"></i>
								<p>FAQs</p>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<h4 class="page-title">Ваш профиль</h4>
					<div class="row">
						<div class="col-md-12">
							<form method="post">
								<div class="card card-with-nav">
									<div class="card-header">
										<div class="row">
											<ul class="nav nav-tabs nav-line nav-color-secondary" role="tablist">
												<li class="nav-item submenu"> <a class="nav-link active show" data-toggle="tab" href="#profile" role="tab" aria-selected="true">Профиль</a> </li>
											</ul>
										</div>
									</div>
									<div class="card-body">
										<div class="row mt-3">
											<div class="col-md-12">
												<div class="form-group form-group-default">
													{% for cat, msg in get_flashed_messages(True) %}
													<div class="alert {{ cat }}" role="alert">
														{{ msg }}
													</div>
													{% endfor %}
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group form-group-default">
													<label>Login</label>
													<input type="text" class="form-control" name="login" placeholder="Login" value="{{ items.login }}" required>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group form-group-default">
													<label>Email</label>
													<input type="email" class="form-control" name="email" placeholder="Email" value="{{ items.email }}" required>
												</div>
											</div>
										</div>
										<div class="row mt-3">
											<div class="col-md-4">
												<div class="form-group form-group-default">
													<label>Ваш номер</label>
													<input type="text" class="form-control" value="{{ items.phone }}" name="phone" placeholder="Номер" required>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group form-group-default">
													<label>День рождения</label>
													<input type="text" class="form-control" id="datepicker" name="datepicker" value="{{ items.birth }}" placeholder="01.01.2001">
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group form-group-default">
													<label>Пол</label>
													<select class="form-control" id="gender" name="gender">
														<option>Мужской</option>
														<option>Женский</option>
													</select>
												</div>
											</div>
										</div>
										<div class="row mt-3">
											<div class="col-md-12">
												<div class="form-group form-group-default">
													<label>Дата истечения тарифа</label>
													{% if items.rate_end %}
													<input type="text" class="form-control" value="{{ items.rate_end }}" name="rate" placeholder="{{ items.rate_end }}" readonly>
													{% else %}
													<input type="text" class="form-control" value="Выберите свой тариф" name="rate" placeholder="Выберите тариф" readonly>
													{% endif %}
												</div>
											</div>
										</div>
										<div class="text-right mt-3 mb-3">
											<button type="submit" class="btn btn-success" name="submit" value="1">Сохранить</button>
											<button type="submit" class="btn btn-danger" name="cancel" value="1">Отмена</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--   Core JS Files   -->
	<script src="../../static/js/core/jquery.3.2.1.min.js"></script>
	<script src="../../static/js/core/popper.min.js"></script>
	<script src="../../static/js/core/bootstrap.min.js"></script>
	<script src="../../static/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
	<script src="../../static/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
	<script src="../../static/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
	<script src="../../static/js/plugin/moment/moment.min.js"></script>
	<script src="../../static/js/plugin/chart.js/chart.min.js"></script>
	<script src="../../static/js/plugin/chart-circle/circles.min.js"></script>
	<script src="../../static/js/plugin/datatables/datatables.min.js"></script>
	<script src="../../static/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
	<script src="../../static/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
	<script src="../../static/js/plugin/dropzone/dropzone.min.js"></script>
	<script src="../../static/js/plugin/fullcalendar/fullcalendar.min.js"></script>
	<script src="../../static/js/plugin/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
	<script src="../../static/js/plugin/bootstrap-wizard/bootstrapwizard.js"></script>
	<script src="../../static/js/plugin/datepicker/bootstrap-datetimepicker.min.js"></script>
	<script src="../../static/js/ready.min.js"></script>
	<script>
		$('#datepicker').datetimepicker({
			format: 'MM/DD/YYYY',
		});
	</script>
</body>
</html>
{% endblock doc -%}